# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# Build output
dist/
build/
.vite/

# Editor settings
.vscode/
.idea/
.DS_Store

# Cloudinary Uploads (if any)
uploads/

# MacOS system files
Thumbs.db
